---
interface Props {
    text: string;
}

const { text } = Astro.props as Props;
---

<p>
    <span class="inline-flex items-center rounded-md text-xs font-semibold">
        <span class="mr-1.5 flex h-2 w-2"
            ><span
                class="absolute inline-flex h-2 w-2 animate-ping rounded-full bg-lime-400 opacity-75"
            ></span><span
                class="relative inline-flex h-2 w-2 rounded-full bg-lime-400"
            ></span></span
        >{text}</span
    >
</p>
