---
import { experienceData } from '../../data';
import { ExperienceItem } from '../components';
import { Briefcase } from '../icons';
---

<h2
    class="leading-0 mb-2 flex w-full flex-row items-start gap-x-2 text-2xl font-semibold"
>
    <Briefcase class="size-7" />Experiencia laboral
</h2>
<div class="bg-container">
    <ol class="relative ms-4 flex flex-col gap-y-8 border-s border-gray-200">
        {experienceData.map((experience) => <ExperienceItem {...experience} />)}
    </ol>
</div>
