---
import { experienceData } from '../../data';
import { ExperienceItem } from '../components';
import { Briefcase } from '../icons';
---

<h2
    class="mb-2 flex w-full flex-row items-center gap-x-2 text-2xl font-semibold"
>
    <Briefcase class="size-6" />Experiencia laboral
</h2>
<div class="rounded-md bg-gray-300/10 px-2 py-4">
    <ol class="relative ms-4 border-s border-gray-200">
        {experienceData.map((experience) => <ExperienceItem {...experience} />)}
    </ol>
</div>
