---
import NetworksAbout from './NetworksAbout.astro';
---

<section
    class="relative mx-auto flex w-full flex-row items-center justify-between border-t border-secondary/15 px-2 py-2 text-secondary/75 lg:max-w-[740px]"
>
    <div>
        <p class="text-sm">
            2024 - <span class="font-bold"> c0d3fabri </span>
        </p>
    </div>

    <NetworksAbout />
</section>
