---
interface Props {
    id: string;
    class?: string;
}

const { id, class: className } = Astro.props;
---

<section
    id={id}
    class={`relative mx-auto w-full items-center flex flex-col justify-center lg:max-w-[740px]  min-h-[100vh] ${className}`}
>
    <slot />
</section>
