---
interface Props {
    id: string;
    class?: string;
}

const { id, class: className } = Astro.props;
---

<section
    id={id}
    class={`relative z-40 mx-auto w-full px-2 items-center flex flex-col justify-center lg:px-0 lg:max-w-[740px] min-h-[100vh] ${className}`}
>
    <slot />
</section>
