---
import '@fontsource-variable/onest';
import { Footer, Navbar } from '../components';
import '../index.css';

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content={description}
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/avatar.webp"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>{title}</title>
    </head>
    <body>
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
<style is:global>
    :root {
        color-scheme: light dark;
        text-wrap: balance;
    }
    html {
        font-family: 'Onest Variable', system-ui, sans-serif;
        scroll-behavior: smooth;
    }

    body {
        background: #191331;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main {
        height: 100vh;
        height: 100dvh;
    }

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
</style>
